#aboutInfo{
    background-color: #222222;
    padding-top: 5%;
    padding-bottom: 5%;
    .container-fluid{
        .row{
            .col-md-6{
                .aboutInfoLeft{
                    position: relative;
                    text-align: center;
                    padding-top: 3%;
                    .bigPicture{
                        width: 100%;
                        img{
                            width: 70%;
                            transition: all 0.5s ease;
                        }
                    }
                    .samllPicture{
                        width: 100%;
                        position: absolute;
                        right: -19%;
                        bottom: -19%;
                        img{
                            width: 40%;
                        }
                    }
                    &:hover .bigPicture img{
                        transform: rotateY(30deg);
                        transition: all 0.5s ease;
                    }
                }
                .aboutInfoRight{
                    .upperContent, .downContent{
                        color: white;
                        .hr{
                            text-align: left;
                            position: relative;
                            margin-top: 6%;
                            height: 45px;
                            line-height: 45px;
                            hr{
                                position: absolute;
                                bottom: 61%;
                                width: 20%;
                                background-color: #895B38;
                            }
                            .square{
                                position: absolute;
                                // left: 40%;
                                width: 2%;
                                bottom: 80%;
                                height: 16px;
                                transform: rotate(48deg);
                                background-color: #895B38;
                            }
                        }
                        p{
                            width: 77%;
                            margin-top: 0;
                            margin-bottom: 1rem;
                            font-size: 1.4ch;
                            color: #8A8C8F;
                        }
                    }
                    .downContent{
                        padding-top: 5%;
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 320px) and (max-width: 767px){
    #aboutInfo{
        .container-fluid{
            .row{
                .col-md-6{
                    .aboutInfoLeft{
                        .bigPicture{
                            img{
                                width: 100%;
                            }
                        }
                        .samllPicture{
                            right: 25%;
                            bottom: -11%;
                            img{
                                width: 50%;
                            }
                        }
                    }
                    .aboutInfoRight{
                        padding-top: 20%;
                        .upperContent, .downContent{
                            h1{
                                font-size: 2.2ch;
                            }
                            .hr{
                                margin-top: 9%;
                                hr{
                                    width: 50%;
                                }
                                .square{
                                    width: 5.2%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 375px) and (max-width: 410px){
    #aboutInfo{
        .container-fluid{
            .row{
                .col-md-6{
                    .aboutInfoRight{
                        .upperContent, .downContent{
                            .hr{
                                .square{
                                    height: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 411px) and (max-width: 767px){
    #aboutInfo{
        .container-fluid{
            .row{
                .col-md-6{
                    .aboutInfoRight{
                        .upperContent, .downContent{
                            .hr{
                                .square{
                                    height: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 768px) and (max-width: 1023px){
    #aboutInfo{
        .container-fluid{
            .row{
                .col-md-6{
                    .aboutInfoLeft{
                        .bigPicture{
                            margin-left: 12%;
                            img{
                                width: 80%;
                            }
                        }
                    }
                    .aboutInfoRight{
                        .upperContent, .downContent{
                            h1{
                                font-size: 2.2ch;
                            }
                            .hr{
                                margin-top: 9%;
                                hr{
                                    width: 50%;
                                }
                                .square{
                                    width: 5.2%;
                                    height: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 1024px) and (max-width: 1200px){
    #aboutInfo{
        .container-fluid{
            .row{
                .col-md-6{
                    .aboutInfoLeft{
                        .bigPicture{
                            img{
                                width: 80%;
                            }
                        }
                    }
                    .aboutInfoRight{
                        .upperContent, .downContent{
                            .hr{
                                hr{
                                    width: 50%;
                                }
                                .square{
                                    bottom: 78%;
                                    width: 5.2%;
                                    height: 23px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}