#service{
    .container-fluid{
        .row{
            .col-md-12{
                padding: 0;
                .service{
                    font-family: 'Open Sans', sans-serif;
                    text-align: center;
                    padding-top: 5%;
                    padding-bottom: 5%;
                    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../image/service/servicePhoto.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    h1{
                        color: white;
                        font-size: 7ch;
                    }
                    p{
                        padding-top: 2%;
                        color: #8A8C8F;
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 320px) and (max-width: 767px){
    #service{
        .container-fluid{
            .row{
                .col-md-12{
                    .service{
                        h1{
                            font-size: 3ch;
                        }
                        p{
                            font-size: 1.1ch;
                        }
                    }
                }
            }
        }
    }
  }